/* ======================
    Layout
====================== */

body{
    background-color: #001D39;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
}

body::-webkit-scrollbar{
    display: none;
}
/* ======================
    Header
====================== */

header{
    display: flex;
    color: white;
    font-size: 30px;
    align-items: center;
    justify-content: space-between;
    margin-right: 50PX;
    margin-left: 50PX;
    width: 100vw;
}

.logo{
    width: 60px;
    height: 60px;
}

.one{
    display: flex;
    align-items: center;
}

/* ======================
    Navigation
====================== */

nav{
    display: flex;
    align-items: center;
}

header nav a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

header nav a:hover{
    color: #7BB8E9;
}

/* ======================
    Menu
====================== */

.menu{
    background-color: #001D39;
    border: none;
    cursor: pointer;
    display: none;
}

#menu{
    position: relative;
}

#menuLinks{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuLinks a{
    padding: 5px;
    margin: 0;
    text-align: center;
}

.material-symbols-outlined{
    color: white;
}

/* ======================
    Account Dropdown
====================== */

.account{
    position: relative;
}

.account-btn{
    background: #0A4174;
    color: white;
    font-size: 25px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    margin: 10px;
    border-radius: 2%;
}

.dropdown{
    position: absolute;
    top: 52px;
    right: 10px;
    background: #49769F;
    width: 120px;
    display: none;
    flex-direction: column;
}

.dropdown a{
    display: block;
    font-size: 25px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.borderAccount{
    border-bottom: 2px solid #001D39;
    margin-left: 0;
}

.account:hover .dropdown{
    display: flex;
}

/* ======================
    Hero Section
====================== */

.hero{

    display: flex;
    color: white;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0px 30px 30px;
    align-content: center;
    height: 700px;
}

/* ======================
    Menu Toggle Class
====================== */

.showMenu{
    display: flex !important;
}


/* ======================
    Responsive
====================== */

@media (max-width: 1000px){

    .menu{
        display: flex;
    }

    #menuLinks{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 110px;
        flex-wrap: wrap;
        background-color: #49769F;
        top: 52px;
        right: 12px;
    }

    #menuLinks a{
        width: 100%;
    }

}

/* ======================
    log in page
====================== */
input::placeholder{
    color: rgb(255, 255, 255);
}

.loginF{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px white solid;
    height: 500px;
    width: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    position: relative;
    }

.loginF p{

    font-size:40px;
    font-weight: bolder;
    padding: 0;
    margin: 0 0 30px 0;
    
}
.loginF input{
    background-color: rgba(0, 0, 0, 0);
    border: 2px white solid ;
    border-radius: 30px;
    font-size: 25px;
    width: 320px;
    height: 40px;
    margin: 0 0 30px 0;
    color: white;
    text-indent: 30px;
}

.loginF .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 320px;
    height: 40px;

    background-color: white;
        margin: 0 0 30px 0;
}
.loginF .btn a{
    text-decoration: none;
        color: black;
            font-size: 25px;
                        width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

}
.loginF .lastbtn{
    margin: 0 0 55px 0;
}


#forget{
    color: white;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    bottom: 55px;
    padding: 0;
    margin: 0 0 0 0

}


/* ======================
    singup
====================== */
.singupF{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px white solid;
    height: 600px;
    width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10%;
    position: relative;
    }

.singupF p{

    font-size:40px;
    font-weight: bolder;
    padding: 0;
    margin: 0 0 30px 0;
    
}
.singupF input{
    background-color: rgba(0, 0, 0, 0);
    border: 2px white solid ;
    border-radius: 30px;
    font-size: 25px;
    width: 320px;
    height: 40px;
    margin: 0 0 30px 0;
    color: white;
    text-indent: 30px;
}

.singupF button{
    margin: 0;
    color: rgb(0, 0, 0);
    background-color: white;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    width: 320px;
    height: 40px;
}


.singupF .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 320px;
    height: 40px;

    background-color: white;
        margin: 0 0 30px 0;
}
.singupF .btn a{
    text-decoration: none;
        color: black;
            font-size: 25px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

}
.singupF .lastbtn{
    margin: 0 0 55px 0;
}
/* ======================
    reset password
====================== */

    .reserPassword{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px white solid;
    height: 500px;
    width: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    position: relative;
    }

.reserPassword p{

    font-size:40px;
    font-weight: bolder;
    padding: 0;
    margin: 0 0 30px 0;
    
}
.reserPassword h3{
margin: 0 30px 30px 30px;
text-align: center;
}

.reserPassword input{
    background-color: rgba(0, 0, 0, 0);
    border: 2px white solid ;
    border-radius: 30px;
    font-size: 25px;
    width: 320px;
    height: 40px;
    margin: 0 0 30px 0;
    color: white;
    text-indent: 30px;
}

.reserPassword .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 320px;
    height: 40px;
    font-size: 25px;
    color: black;
    background-color: white;
    margin: 0 0 30px 0;

}
.reserPassword .btn a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}
/* ======================
    otp
====================== */

    .otp{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px white solid;
    height: 500px;
    width: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    position: relative;
    }

.otp p{

    font-size:40px;
    font-weight: bolder;
    padding: 0;
    margin: 0 0 30px 0;
    
}
.otp h3{
margin: 0 30px 30px 30px;
text-align: center;
}

.otp input{
    background-color: rgba(0, 0, 0, 0);
    border: 2px white solid ;
    border-radius: 30px;
    font-size: 25px;
    width: 320px;
    height: 40px;
    margin: 0 0 30px 0;
    color: white;
    text-indent: 30px;
}

.otp .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 320px;
    height: 40px;
    font-size: 25px;
    color: black;
    background-color: white;
    margin: 0 0 30px 0;
    text-align: center;
    text-decoration: none;
    color: black;
}
.otp .btn a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}
/* ======================
    newPassword
====================== */

    .newPassword{
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px white solid;
    height: 500px;
    width: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    position: relative;
    }

.newPassword p{

    font-size:40px;
    font-weight: bolder;
    padding: 0;
    margin: 0 0 30px 0;
    
}
.newPassword h3{
margin: 0 30px 30px 30px;
text-align: center;
}

.newPassword input{
    background-color: rgba(0, 0, 0, 0);
    border: 2px white solid ;
    border-radius: 30px;
    font-size: 25px;
    width: 320px;
    height: 40px;
    margin: 0 0 30px 0;
    color: white;
    text-indent: 30px;
}

.newPassword .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 320px;
    height: 40px;
    font-size: 25px;
    color: black;
    background-color: white;
    margin: 0 0 30px 0;
    text-align: center;
    text-decoration: none;
    color: black;
}
.newPassword  a{

    text-align: center;
    text-decoration: none;
    color: black;
}